<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
          .Box1 {
        height: 400px;
        width: 400px;
        border: 3px solid red;
        background-color: red;
        overflow: hidden;
        margin-top: 30px;
        margin-left: 600px;
      }
      img{
        float: left;
      }
      p{
        clear: left;
      }

    </style>
</head>
<body>
    <div class="Box1">
        <img src="https://placehold.co/200">
         <p>Captain America is a Marvel superhero who represents courage, justice,
        and patriotism. His real name is Steve Rogers, a weak but brave young
        man who volunteers for a secret military experiment during World War II.
        The experiment turns him into a super-soldier with enhanced strength,
        speed, and endurance. Captain America is known for his iconic shield
        made of vibranium, which he uses both for defense and combat. Even
        though he has superhuman abilities, his greatest strength is his strong
        moral values—he always stands up for what is right, even when it’s
        difficult. He is a founding member of The Avengers and often acts as
        their leader. Captain America believes in teamwork, sacrifice, and
        protecting innocent people. Over time, he becomes a symbol of hope,
        inspiring others to fight for freedom and justice. Captain America is a
        Marvel superhero who represents courage, justice, and patriotism. His
        real name is Steve Rogers, a weak but brave young man who volunteers for
        a secret military experiment during World War II. The experiment turns
        him into a super-soldier with enhanced strength, speed, and endurance.
        Captain America is known for his iconic shield made of vibranium, which
        he uses both for defense and combat. Even though he has superhuman
        abilities, his greatest strength is his strong moral values—he always
        stands up for what is right, even when it’s difficult. He is a founding
        member of The Avengers and often acts as their leader. Captain America
        believes in teamwork, sacrifice, and protecting innocent people. Over
        time, he becomes a symbol of hope, inspiring others to fight for freedom
        and justice.
     </p>

    </div>
</body>
</html>