* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white;
  color: black;
 
  
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
  font-size: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95px;
  border-bottom: 1px solid black;
  align-items: center;
  font-size: 25px;
}
.navLeft {
  margin-left: 100px;
}
.navRight {
  gap: 20px;
  margin-right: 50px;
  display: flex;
}
.navRight ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.navRight ul li a {
  text-decoration: none;
}
ul li a {
  list-style: none;
}

.navRight button {
  padding-top: 15px 10px;
  font-size: 20px;
  gap: 20px;
  margin-right: 200px;
  border: none;
  outline: none;
}

.navRight button a {
  background-color: black;
  color: white;
  text-decoration: none;
  
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 15px 10px;
}

/* CSS FOR MAIN */
main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  display: flex;
}
.ArticleLeft {
  width: 50%;
  height: 100%;
 
}
.ArticleRift {
  width: 50%;
  height: 100%;
  
}
.CenterText {
  padding: 150px;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  
}
.CenterText h1{
    font-size: 90px;
    font-weight: 20px;
    line-height: 100px;
    margin-left: 100px;
   
}
.CenterText p{
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 70px;
    margin-left: 100px;

}
.CenterText button{
    font-size:30px;
    padding:20px 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
    margin-left: 100px;
}


.ImageFitt img{
  height: 800px;
  margin-top: 70px;
  margin-left: 350px;
  position:absolute;
  top: 100px;
 


  
  z-index: 1;
}
 /*  Will Be Working oN Footer Now */
 footer{
 
  border-top: 2px solid black;
  position: relative;
  top: 0px;
  height: 100px;
  z-index: 100;
  background-color: white;
  /* margin-bottom: 20px; */
 
 
 }
 footer ul{
    height: 100px;
  display: flex;
  gap: 40px;
  justify-content: center;
 align-items: center;
   list-style: none;

 }