* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: white;
  color: black;
}
header {
  font-size: 10px;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 95px;
  border-bottom: 1px solid black;
  align-items: center;
  font-size: 25px;
}
.navLeft {
  margin-left: 100px;
}
.navRight {
  gap: 20px;
  margin-right: 50px;
  display: flex;
}
.navRight ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}
.navRight ul li a {
  text-decoration: none;
}
ul li a {
  list-style: none;
}

.navRight button {
  padding-top: 15px 10px;
  font-size: 20px;
  gap: 20px;
  margin-right: 200px;
}

.navRight button a {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 40px;
  padding: 10px 20px;
}

/* CSS FOR MAIN */
main {
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: flex;
}
.ArticleLeft {
  width: 65%;
  height: 100%;
}
.ArticleRift {
  width: 65%;
  height: 100%;
  
}
.CenterText {
  padding: 150px;
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  
}
.CenterText h1{
    font-size: 90px;
    font-weight: 20px;
    line-height: 100px;
   
}
.CenterText p{
    padding-top: 50px;
    font-size: 30px;
    padding-bottom: 70px;

}
.CenterText button{
    font-size:30px;
    padding:20px 40px;
    border-radius: 40px;
    background-color: black;
    color: white;
}


.ImageFitt img{
  margin-top: 40px;
}